
# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# =========================
# Flask
# =========================
instance/
.webassets-cache

# =========================
# Variables de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/
log/

# =========================
# Testing / cache
# =========================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Tu proyecto (runtime files)
# =========================
temp/
output/
*.pdf

# =========================
# Docker (IMPORTANTE)
# =========================
docker-compose.override.yml

Dockerfile

docker-compose.yml